<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Festibowl</title>
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel='stylesheet'>
    <link href="/static/styles.css" rel="stylesheet"> <!-- my styles -->
</head>
<body>
    <div id="contactbox">Get In Touch</div>
    <div class="socialbox">
        <div>
            <a href="http://www.facebook.com/festibowlldn" target="_blank"
               style="text-decoration:none;">
                  <img src="/static/Facebook_Circle.png" style="width:70px;height:70px;">
            </a>
        </div>
        <div>
            <a href="http://twitter.com/festibowlldn" target="_blank"
               style="text-decoration:none;">
                  <img src="/static/twitter_icon.png" style="width:65px;height:65px;">
            </a>
        </div>
    </div>

    <img id="logo" src="/static/logo.png" style="width:440px;height:190px;">
    <p class="whiter">
        "Lawn bowls may seem as rock’n’roll as Coldplay and quinoa –
        but the public’s perception of this emblematic British game may soon
        change."
        <br/>- The Telegraph
    </p>
    <div class="myButton"><h1>Buy Tickets</h1></div>
    <div class="col_1of3"><p>900 BOWLERS</p></div>
    <div class="col_2of3"><p>6 EVENTS</p></div>
    <div class="col_2of3"><p>3 DAYS</p></div>

    <div class="udder">
        <h1>#WHATSITALLABOUT</h1>
        <div class="udder"><hr></div>
    </div>
    <p>
        For 3 days only in the Summer of ‘17, Finsbury Square will be
        turned into a Village Fete themed bowling oasis as the cool and
        quirky Festibowl rolls in to London for the first time.
        The all singing, all dancing Festival of Bowls (with a twist) will
        bring to life the age old game in a fun, colourful and wholly different
        way and we want you to be a part of it!
    </p>
    <p>
        1 INTERNATIONAL BOWLS MATCH, 6 BAREFOOT BOWL EVENTS, POP UP BARS,
        STREET FOOD VENDORS, DJ'S, A VILLAGE FETE and much much more…
        London, we ask you to clear your diaries...
        It's time to get your FESTIBOWL groove on BUY YOUR TICKETS today.
    </p>
    <div class="col_1of5"><p>BOWLS</p></div>
    <div class="col_1of5"><p>EATS</p></div>
    <div class="col_1of5"><p>BEATS</p></div>
    <div class="col_1of5"><p>BOOZE</p></div>
    <div class="col_1of5"><p>BANTER</p></div>

    <div class="udder">
        <h1>TICKETS</h1>
        <div class="udder"><hr></div>
    </div>
    <p>SORRY FOLKS BUT TICKETS ARE NOT YET ON SALE.</p>
    <p>For all ticket related enquiries please get in
        touch with the Festibowl team directly.
    </p>
    <div class="col_1of1">
        <p>DO YOU HAVE THE BOWLS TO BE A PART OF IT?</p>
    </div>

    <div class="udder">
        <h1>WHAT DOES A FESTIBOWL TICKET GET YOU?</h1>
        <div class="udder"><hr></div>
    </div>
    <p>
        Do you fancy some fun in the summer sun with friends,
        colleagues and loved ones? Are you looking to host a fun,
        colourful and wholly different corporate event in 2017?
        <br/>London – Look no further!
    </p>
    <div class="wh_back">
    <h2>BUY A FESTIBOWL TICKET AND ALL OF THIS COULD BE YOURS:</h2>
    <p class="small">A team of 4 “bowlers” to bowl off at Festibowl</p>
    <p class="small">Participation in 1 of 6 “Barefoot Bowl” events</p>
    <p class="small">An access all areas Festibowl pass</p>
    <p class="small">
        Tips from 3 times Commonwealth Gold Medalist Ellen Falkner
        and her team at AeroBowls
    </p>
    <p class="small">Free Drinks at the Bowlers Bar</p>
    <p class="small">Free Street food from one of London’s
        best street food vendors</p>
    <p class="small">A Bowlers Goodie Bag</p>
    <p class="small">A team photo</p>
    <p class="small">And much much more...</p>
    </div>
    <h2 class="whiter">SHOULD YOU WANT TO BOOK OUT AN EXCLUSIVE EVENT PLEASE
        DROP US A LINE.</h2>
    <div class="col_1of1">
        <p>PAY TO BOWL… PAY NOTHING TO ENJOY THE BOWLERS VILLAGE</p>
    </div>

</body>
</html>

