<div class="bosh">
    About
</div>
<div class="bosh">
    For 3 days only in the Summer of ‘17, Finsbury Square will be turned into a
    Village Fete themed bowling oasis as the cool and quirky Festibowl rolls in
    to London for the first time.  The all singing, all dancing Festival of Bowls
    (with a twist) will bring to life the age old game in a fun, colourful and
    wholly different way and we want you to be a part of it!
</div>
<div class="bosh">
    1 INTERNATIONAL BOWLS MATCH, 6 BAREFOOT BOWL EVENTS, POP UP BARS,
    STREET FOOD VENDORS, DJ'S, A VILLAGE FETE and much much more… London,
    we ask you to clear your diaries... It's time to get your FESTIBOWL
    groove on BUY YOUR TICKETS today.
</div>
<div class="bosh">
    Tickets
</div>
<div class="bosh">
    DO YOU HAVE THE BOWLS TO BE A PART OF IT?
</div>
<div class="bosh">
    What does a Festibowl ticket get you?
</div>
<div class="bosh">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>




<div>
    <p class="boxes">900 BOWLERS</p>
    <p class="boxes">6 EVENTS</p>
    <p class="boxes">3 DAYS</p>
</div>